################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs/WebApi/v16/Server/sqlite3
